<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/assets/favicon.png">
    <link rel="stylesheet" href="/static/css/app.css">
    <script src="/static/js/main.js" defer></script>
    <script src="/static/js/ws.js" defer></script>
    <script src="/static/libs/htmx.js" defer></script>
    <title>{{title}}</title>
  </head>

  <body>
    <h1>{{header}}</h1>
    <main>
      {{{home_page}}}
    </main>
  </body>
</html>
